<div class="author-post-intro">
  <p>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Hi, I’m Harisankar P S! I’m a Senior Software Architect, and this blog is where I share my thoughts on programming,
    devops, anything I find interesting or noteworthy, . My primary focus is Ruby on Rails, but I also explore
    full-stack development, linux, go-lang and DevOps projects.
  </p>
  <p>
    <div>
      If you're interested in collaborating or have a project in mind, feel free to <a href="mailto:projects@hsps.in">email me</a>.
  </div></p>
  <p><div>
      You can subscribe using the <a class="post-tags" href="https://hsps.in/index.xml">atom feed</a> or follow my latest updates on <a href="https://ruby.social/@coderhs">Mastodon</a>.
    </div>
  </p>
</div>

<style>
  .author-post-intro {
    p {
      text-align: justify;
    }

    a {
      margin-right: 5px;
      color: #c05b4d;
    }
  }
</style>
